################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/buildgen.exe
/build.exe
*.obj
*.include
*.pdb
*.exe
